<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/style')%>
    <title>Manager List</title>
</head>
<body>
    <h2 align="center">LIST PROJECT</h2>
    <a href = "/"> <button> Exit </button></a>
    <table >
        <tr>
          <th>ID</th>
          <th>Project Name</th>
          <th>Projet Time</th>
          <th>Manager Id</th>
          <th>Manager email/th>
          <th>Status</th>
          
        </tr>
        <%for (i in data) {%>
        <tr>          
            <td><%=data[i].ProjectId%></td>
            <td><%=data[i].Project.projectname%></td>
            <td><%=data[i].Project.projecttime%></td>
            <td><%=data[i].Project.ManagerId%></td>
            <td><%=data[i].Project.Manager.email%></td>
            <%if(data[i].Project.status == true){%>

              <td>Good Job </td>
            <%} else{%>
              <td><a href = "/runningproject/edit/<%=data[i].ProjectId%>/<%=data[i].StaffId%>/<%=data[i].Project.Manager.email%>"> <button> Done </button></a>
            <%}%>
            </td>
        </tr>
        <%}%>
        
      </table>



</body>
</html>