<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/style')%>
    <title>Manager List</title>
    
</head>
<body>
    <h2 align="center">LIST MANAGER</h2>
    <a href = "/manager/add/"> <button> Add </button></a> || <a href = "/"> <button> Menu Login </button></a>
    <table >
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>email</th>
          <th>username</th>
          <th>password</th>
          <th>actions</th>
        </tr>
        <%for (i in data) {%>
        <tr>          
            <td><%=data[i].id%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].email%></td>
            <td><%=data[i].username%></td>
            <td>********</td>
            <td><a href = "/manager/edit/<%=data[i].id %>"> <button> Edit </button></a> | <a href ="/manager/delete/<%=data[i].id%>"><button onclick="return confirm('Are you sure you want to Delete <%=data[i].name%> ?')">Delete </button></a></td>
        
        </tr>
        <%}%>
        
       


      </table><br><br><br><br><b><br><br></b>
    <h2 align="center">LIST STAFF</h2>
    <a href = "/staff/add/"> <button> Add </button></a> 
    <table >
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>email</th>
          <th>username</th>
          <th>password</th>
          <th>score</th>
          <th>actions</th>
        </tr>
        <%for (i in staff) {%>
        <tr>          
            <td><%=staff[i].id%></td>
            <td><%=staff[i].name%></td>
            <td><%=staff[i].email%></td>
            <td><%=staff[i].username%></td>
            <td>********</td>
            <td><%=staff[i].score%></td>
            <td><a href = "/staff/edit/<%=staff[i].id %>"> <button> Edit </button></a> | <a href ="/staff/delete/<%=staff[i].id%>"><button onclick="return confirm('Are you sure you want to Delete <%=staff[i].name%> ?')">Delete </button></a></td>
        
        </tr>
        <%}%>
        
      </table><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <canvas id="myChart" width="10px"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var names = ['January', 'February', 'March', 'April', 'May', 'June', 'July']
      var point = [0, 10, 5, 2, 20, 30, 45]
      // for(let i in staff) {
      //   names.push(staff[i].name)
      //   point.push(staff[i].score)
      // }
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: names,
              datasets: [{
                  label: 'Grafik Kinerja Para Staff',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: point
              }]
          },

          // Configuration options go here
          options: {}
      });
      </script>
</body>
</html>