<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/style')%>
    
    <title>List Project</title>
</head>
<body>
    <h2 align="center">LIST PROJECT</h2>
    <a href = "/project/add/<%=manager[0].id%>"> <button> Add </button></a>
    <table >
        <tr>
          <th>ID</th>
          <th>Project Name</th>
          <th>Projet Time</th>
          <th>Manager</th>
          <!-- <th>Action</th> -->
          <th>Assign</th>
          
        </tr>
        <%for (i in data) {%>
        <tr>          
            <td><%=data[i].id%></td>
            <td><%=data[i].projectname%></td>
            <td><%=data[i].projecttime%></td>
            <td><%=data[i].Manager.name%></td>
            <td><a href = "/runningproject/add/<%=data[i].id%>/<%=data[i].ManagerId%>/form"> <button> assign </button></a>
            </td>
        </tr>
        <%}%>
        
      </table></body></br></br>

      <h2 align="center">LIST ASSIGNED PROJECT</h2>
      <table >
        <tr>
          <th>ID</th>
          <th>Project Name</th>
          <th>Projet Time</th>
          <th>Staff Id</th>
          <th>Staff Name</th>
          <!-- <th>Assign</th> -->
          
        </tr>
        <%for (i in datarunning) {%>
          <%for (j in datarunning[i].RunningProjects) {%>
          <tr>          
            <td><%=datarunning[i].id%></td>
            <td><%=datarunning[i].projectname%></td>
            <td><%=datarunning[i].projecttime%></td>
            <td><%=datarunning[i].RunningProjects[j].StaffId%></td>
            <td><%=datarunning[i].RunningProjects[j].Staff.name%></td>
             </td>
          </tr>
          <%}%>
        <%}%>
        
      </table>



</body>
</html>